// font family
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// global setting
*{
 margin: 0;
 padding: 0;
 font-family:"Poppins", sans-serif;
 box-sizing: border-box;
 scroll-behavior: smooth;
 outline: none;
 list-style: none;
 text-decoration: none;
}
// variables
$bg-black-100:rgba(31, 31, 31 0.9);
$bg-white-100:#ddd;
$bg-white-50:#eff0f4;
$bg-white-25:#f5f5f5;
$bg-white-10:#f5f5f5;
$text-black-900:#000;
$text-black-700:rgb(37, 37, 37);
$text-black-600:rgb(172, 172, 172);
$text-black-400:rgba(221, 221, 221);
$text-black-300:#f5f5f5;
$shadow:0 5px 200px rgba(0,0,0,0.5);

// base
body{
 font-size: 16px;
 line-height: 1.5;

}
:before,:after{
  box-sizing: border-box;
}
img{
 width: 100%;
}
.container{
 max-width: 1140px;
 margin: auto;
}
.raw{
 display: flex;
 flex-wrap: wrap;
}
.titleText, h2{
 color: $text-black-900;
 font-size: 2em;
 font-weight: 300;
 span{
  color: $text-black-700;
  font-weight: 700;
   font-size: 1.5em;
 }
}
.title{
 width: 100px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column   ;
}
// button style

// navigation bar
header{
   position: flex;
   top: 0;
   left: 0;
   width: 100%;
   padding: 40px 100px;
   z-index: 100000;
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: .5s;

   .logo{
    color:$text-black-700;
    font-weight: 700;
    font-size:2em;
    text-decoration:none;

   }
   .nav{
    position: relative
    display: flex;
    li{
     margin: 0 0 0 30px;
     a{
      color: $text-black-600;
      font-weight: 300;
     }
    }
   }
}